/* Home */
:root {
	--asscentColor: #6441a5;
}

::-webkit-scrollbar-thumb {
	background-color: var(--asscentColor);
}

::-webkit-scrollbar:horizontal {
	background-color: transparent !important;
}

::-webkit-scrollbar-thumb:horizontal {
	background: transparent !important;
	border-radius: 10px;
}
